body {
  margin: 0;
}

#search-bar {
  margin: auto 20px;
  display: flex;
  align-items: center;
}

#search-form, #searchInputField{
  flex: 1;
}

#searchInputField {
  width: 80%;
  min-width:0;
  margin-left: 200px;
}

#youTubeIcon {
  margin: auto 5px;
  font-size: 50px;
  color: red;
}

.commentsSection {
  padding: 10px;
  height: 250px
}

.videoPlayer {
  padding: 10px;
  margin: auto 10px;
}

.video-list {
  padding: 10px;
  height: 500px
}

.fullWidth {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing : border-box;
}

#iframe {
  width: 95%; 
  height: 90%; 
  display: block;
}

.viewCount {
  font-size: 1.25rem;
}